//@import "formul";

.footer {
    width: 100%;
    height: auto;
    border-top: 1px solid #767676;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    &__container {
        
        
    }
    &__info {
        padding: 40px 0px 40px 0px;
        max-width: 761px;
        @media (max-width: $md2){
            text-align: center;
            width: 100%;
        }
        span {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: rgba(56, 56, 56, 1);
        }
        a{
            font-family: "Inter";
            font-style: normal;
            background-color: rgba(29, 152, 220, 1);
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            background-image: linear-gradient(90deg, #0A40FF 1.65%, #826DFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}


