
//<Переменные=================================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1530;
$md1: $maxWidthContainer +12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
//<Переменные====================================================================================================================








//<Основная адаптивная сетка брэкпоинты

.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: $md1) {
        max-width: 1440px;
    }
    @media (max-width: $md2) {
        max-width: 970px;
    }
    @media (max-width: $md3) {
        max-width: none;
        padding: 0 10px;
    }
}
//<Основная адаптивная сетка


.wrapper{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded{

    }
}





//<Цвета====================================================================================================================

//$gradientBackground: linear-gradient(to bottom right, rgba(255, 72, 72, 0.9),90%, rgb(255, 119, 77,1)),(rgb(255, 0, 0, 1));
//$gradientSlide: linear-gradient(to bottom right, rgb(80, 44, 155, 100%), rgb(255, 0 ,138,44%));
 
//<Цвета=====================================================================================================================================